/* iCheck plugin Line skin, red
----------------------------------- */
.icheckbox_line-default,
.iradio_line-default {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    line-height: 17px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheckbox_line-default .icheck_line-icon,
    .iradio_line-default .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(line.png) no-repeat;
        border: none;
    }
    .icheckbox_line-default.hover,
    .icheckbox_line-default.checked.hover,
    .iradio_line-default.hover {
        background: #e34155;
        color: #fff;
        border: 1px solid #e34155;
    }
    .icheckbox_line-default.checked,
    .iradio_line-default.checked {
        background: #e34155;
        color: #fff;
        border: 1px solid #e34155;
    }
        .icheckbox_line-default.checked .icheck_line-icon,
        .iradio_line-default.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheckbox_line-default.disabled,
    .iradio_line-default.disabled {
        background: #F7D3D2;
        cursor: default;
    }
        .icheckbox_line-default.disabled .icheck_line-icon,
        .iradio_line-default.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheckbox_line-default.checked.disabled,
    .iradio_line-default.checked.disabled {
        background: #F7D3D2;
    }
        .icheckbox_line-default.checked.disabled .icheck_line-icon,
        .iradio_line-default.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

.icheck-inline > label {
    margin-left: 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_line-default .icheck_line-icon,
    .iradio_line-default .icheck_line-icon {
        background-image: url(line@2x.png);
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}