.loading-ios .spinner-ios line, .loading-ios .spinner-ios-small line {
    stroke: #f16138 !important;
}

.btn-application-filter {
    right: 20px !important;
}

.active-sidemenu-highlighted {
    background-color: #dfdddd !important;
}